<figure class="card card-product-grid">
        <div class="img-wrap"> 
            <span class="badge badge-danger"> NEW </span>
            <img src="{{ product.pictureUrl }}" alt="{{ product.name }}">
            <!--<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>-->
        </div> 
        <figcaption class="info-wrap">
            <div class="fix-height">
                <a routerLink="/shop/{{ product.id }}" class="title">{{ product.name }}</a>
                <div class="price-wrap mt-2">
                    <span class="price">{{ product.price | currency }}</span>
                    <del class="price-old">$1980</del>
                </div> 
            </div>
            <a href="#" class="btn btn-primary me-2"><i class="fa fa-shopping-cart"></i> Add to cart </a>
            <a routerLink="/shop/{{ product.id }}" class="btn btn-secondary"><i class="fa fa-eye"></i> View</a>
        </figcaption>
</figure>

